body {
    font-size: 1.5;
}

h1 {
    font-size: 3em;
    text-align: center;
}

label {
    font-size: 2em;
    display: block;
}

button {
    border: 5px inset #1C6EA4;
    border-radius: 15px;
    font-size: 2em;
    margin: 1% 0 2% 0;
    cursor: pointer;

    width: 6em;
}