@font-face {
    font-family: minhaFonte;
    src: url(klavika-bold.otf)
}

body {
    background: #dee6f7;
}

header h1 {
    background: linear-gradient(to bottom, #5B78AE,#415E9B,#35508D);
    color: white;
    font-family: minhaFonte;
    margin-top: 0px;
    text-indent: 1%;
}

p {
    white-space: pre-line; /*substituição do <br>*/
}

.centro {
    text-align: center;
}

div {
    margin-left: 20%;
    width: 60%;
    background-color: white;
}

div h3 {
    color: #4D68A2;
    margin-bottom: 0px;
}

.pequeno {
    font-size: small;
    margin-top: 0px;
}

.azul {
    color: #4D68A2;
}