body {
    background-color: rgb(217, 181, 252);
}
h1 {
    text-align: center;
    text-shadow: 5px 5px 10px blue;
    text-transform: uppercase;
}
li.menu {
    color: white;
    background-color: blueviolet;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 2%;
}
li.menu:hover { /* se colocar espaço (li.menu :hover), aplica a elementos-filho de li.menu */
    background-color: pink;
    box-shadow: 5px -5px 10px black;
}
li.menu, li.menu:hover, section, footer {
    border: 2px black solid;
    border-radius: 20px;
}
section {
    text-align: justify;
}
section, footer {
    margin: 3%;
    background-color: white;
    padding: 20px;
}