body {
    background-color: rgb(217, 181, 252);
}

h1 {
    text-align: center;
    text-shadow: 5px 5px 10px blue;
    text-transform: uppercase;
}
li.menu {
    color: white;
    background-color: blueviolet;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    list-style-type: none;
    width: 20%;
}
section {
    background-color: white;
    border-radius: 20px;
    padding: 20px
}
footer {
    margin-top: 30px;
    border-color: rgb(22, 2, 41);
    background-color: white;
    border-radius: 20px;
    padding: 20px
}