h1 {
    font-family: Calibri;
    font-size: 7;
    text-indent: center;
}

p, li {
    font-family: Calibri;
    font-size: 4;
    text-indent: 5px;
    text-align: justify;
}

.negItalico {
    font-style: italic;
    font-weight: 900;
}

.negSub {
    text-decoration: underline;
    font-weight: 900;
}