@font-face {
    font-family: 'AkzidenBold';
    src: url('fonts/akzidenz-grotesk-bold.ttf');
}

@font-face {
    font-family: 'AkzidenLight';
    src: url('fonts/akzidenz-grotesk-light.ttf');
}

body, ul {
    margin: 0;
}

body {
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-clip: border-box;
}

header .logo {
    float: left;
    margin-left: 5.5em;
    margin-top: 0.2em;
}

header {
    height: 19em;
    background-image: url('img/header-home-v2--br.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
}

nav ul {
    border-top: 4px solid #F0C43F;
    text-align: right;
    background-image: linear-gradient(to bottom, #cacaca, #EEF0F1,#F7F7F7, #FDFDFD);
    line-height: 3em;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    width: 10%;
    cursor: pointer;
    text-align: center;
    border-left: 2px solid #bbbbbf;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
}

.nav-img {
    vertical-align: middle;
}

h1, h3 {
    font-family: 'AkzidenBold';
    text-align: center;
}

.caixaMaior h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.minusculo {
    text-transform: lowercase;
}

#caixaMaior {
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.caixa {
    width: 35%;
    height: 20em;
    background-clip: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;

    padding-left: 1%;
    padding-right: 1%;
}

.caixa img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: -3px 3px 10px black;
}

.caixa p {
    font-family: 'AkzidenLight';
    color: gray;
}

#caixa1 {
    border-right: 2px gray solid;
}

/* endereco.html */

form .pesquisarEndereco {
    width: 70%;
    font-size: 1.5em;
    border: 2px solid #bbbbbf;
    border-radius: 15px;
    margin: 0 auto;
}

form {
    display: flex;
}