:root {
    --azul-escuro: #0669C5;
    --azul-claro: #A3DAF7;
    --azul-mais-claro: #D3EFFA;
    --amarelo: #FFD400;
}

table {
    border: rgb(0, 140, 150) 2px solid;
    width: 100%
}

#titulo {
    font-family: Cambria;
    text-transform: uppercase;
    text-align: left;
}

.diaMes {
    font-size: 20px;
    font-weight: 600;
}

.realce {
    font-weight: 900;
}

#titulo .ano {
    font-size: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#tabela tr td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

#tabela tr:nth-child(even){
    background-color: var(--azul-escuro);
    color: white;
}

#tabela tr:nth-child(n):hover{
    background-color: var(--amarelo);
    color: var(--azul-escuro);
}

#tabela tr:nth-child(odd){
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
}

#tabela tr:nth-child(odd) td:first-child {
    font-size: 30px;
    background-color: var(--azul-mais-claro);
}

#colunaDiaMes {
    color: var(--azul-escuro);
    background-color: var(--azul-mais-claro);
}
