:root {
    --azul-mais-escuro: #063c6e;
    --azul-escuro: #0669C5;
    --azul-claro: #A3DAF7;
    --azul-mais-claro: #D3EFFA;
    --amarelo: #FFD400;
}

body {
    text-transform: uppercase;
    text-align: center;
}

table {
    border: rgb(0, 140, 150) 2px solid;
    width: 100%
}

.cabecalho {
    font-family: Cambria;
    color: white;
    background-color: var(--azul-escuro);
    width: 100%;
    display: flex;
    text-align: left;
}

.diaMes {
    font-size: 20px;
    font-weight: 600;
}

.realce {
    font-weight: 900;
}

.cabecalho .ano {
    color: var(--amarelo);
    background-color: var(--azul-mais-escuro);
    font-size: 50px;
}

#tabela tr th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.75%;
}

#tabela tr:nth-child(even){
    background-color: var(--azul-escuro);
    color: white;
}

#tabela tr:nth-child(n):hover{
    background-color: var(--amarelo);
    color: var(--azul-escuro);
}

#tabela tr:nth-child(odd){
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
}

#tabela tr:nth-child(odd) td:first-child {
    font-size: 30px;
    background-color: var(--azul-mais-claro);
}

#linhaDiaMes th {
    font-weight: normal;
}

#colunaDiaMes {
    color: var(--azul-escuro);
    background-color: var(--azul-mais-claro);
}
